
<div style="min-width:300px padding: 10px;">
    <AuthorizeView>
        <Authorized>

          
            <MatNavMenu Style="width:300px">
                <MatNavSubMenu @bind-Expanded="@openMenu">
                <MatNavSubMenuHeader Style="width:250px">
                        <MatNavItem AllowSelection="false"><MatIcon Icon="face"></MatIcon>&nbsp; "@userName</MatNavItem>
                </MatNavSubMenuHeader>
                    <MatNavSubMenuList Style="margin-top:50px">
                        <MatNavItem Href="manageuserroles" Title="Manage User Roles"> </MatNavItem>
                        <MatNavItem Href="logout" Title="Log Out"> </MatNavItem>
                    
                </MatNavSubMenuList>
            </MatNavSubMenu>
            </MatNavMenu>
        </Authorized>
        <NotAuthorized>
            <MatButtonLink Href="register" Raised="true">Register</MatButtonLink>
            <MatButtonLink Href="login" Raised="true">Login</MatButtonLink>            
        </NotAuthorized>
    </AuthorizeView>


</div>

@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; }
    private string userName;
    private bool openMenu;
    MatButton userNameButton;
    BaseMatMenu menu;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthState;
        if (authState.User.Identity.IsAuthenticated)                 
            userName = authState.User.FindFirst(ClaimTypes.Name)?.Value;     
    }
    public void OnClick(MouseEventArgs e)
    {
        this.menu.OpenAsync(userNameButton.Ref);
    }
}
